body{
    text-align: center;
}
.home-div {
    border: 3px solid red;
    text-align: center
}

#travel1 {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    text-align: center;
}

#contact iframe{
    width: 100%
}